<div class="col-xs-9">
  <div class="chat-room-show" id="start_chat">
    <h4> Welcome to Chat Room</h4>
  </div>
</div>
<div class="col-xs-3 user-list">
  <% @users.each do |user|%>
    <div class="chat-room-user">
      <%= link_to start_chat_room_path(user.id), remote: true, class: "user-chat-link" do %>
        <i class="fa fa-user"></i> &nbsp;&nbsp;&nbsp; <%= user.name %>   <div id="noti_<%= user.id %>" class="notification hide"></div>
      <% end %>
    </div>
  <% end %>
</div>
